.fields input{
    width: 100%;
    border-radius: 50px;
    margin-top: 5px;
    margin-bottom: 12px;
    display: block;
}



.fields label{
    display: inline-block;
    margin-top: 10px;
    background-color: rgb(231, 230, 230);
}

.fields{
    float: right;
    width: 50%;
    margin: 7px 20px;
    padding: 15px;
    border: solid rgba(65, 61, 61, 0.699);
    box-shadow: 1px;
    border-radius: 12px;
}

.fields input[type='checkbox']{
    width: auto;
    display: inline-block;
}

.fields input[type='submit']{
    width: auto;
    height: auto;
    font-size: 18px;
    display: block;
    margin: 0% 50%;
    max-width: 300px;
}
.fields textarea[name='address']{
    border-radius: 15px;
    padding: 18px;
    width: 90%;
    text-indent: 0%;
    height: 100px;
    resize: none;
    display: block;
    margin-top: 7px;
}



.picture .add_picture button{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }