{% extends 'file/base.html' %}
{% block title %}new file form{% endblock title %}
{% load static %}

{% block content %}
<div class="box m-5">
    <form method="post">
        {% csrf_token %}        
        <label class="label">Customer name:</label>
            <input class="input is-small" type="text" name="customer_name" maxlength="150" required="" id="id_customer_name">

        <label class="label">Customer phone:</label>
            <input class="input is-small" type="text" name="customer_phone" maxlength="12" required="" id="id_customer_phone">

        <label class="label">Type:</label>
        <div class="select">
            <select name="type" id="id_type">
                <option value="A" selected="">آپارتمان</option>
                <option value="L">زمین</option>
                <option value="S">مغازه</option>
            </select>
        </div>
        <label class="label">Budget:</label>
            <input type="number" name="budget" required="" class="input" id="id_budget">
        <div class="columns">
            <div class="column">
                <button class="button is-primary mt-5 ml-0 is-pulled-left is-medium">Submit</button>
            </div>
        </div>
    </form>
</div>
{% endblock content %}

