{% extends 'file/base.html' %}
{% load static %}
{% block title %}file detail{% endblock title %}

{% block content %}
<!-- <link rel='stylesheet' href="{% static 'css/file_details.css' %}"> -->


<link type="text/css" rel="stylesheet" href='{% static "lightgallery/css/lightgallery-bundle.css"%}' />

<div class="details">
    <div class="box m-5">
        <div class="" id="send-info-modal">
            <div class="modal m-6" id="modal">
                <div class="modal-background" onclick="close_modal()">

                </div>
                <div class="modal-card">
                    <header class="modal-card-head">
                        <p class="modal-card-title">ارسال اطلاعات به مشتری</p>
                        <button class="delete" aria-label="close" onclick="close_modal()"></button>
                    </header>
                    <section class="modal-card-body">
                        <form action="send/" method="post">
                            {% csrf_token %}
                            <div class="columns">
                                <div class="column">
                                    <div class="field">
                                        <label class="label">شماره:</label>
                                        <input class="input " type="text" name="phone" maxlength="11" required=""
                                            id="id_phone">
                                    </div>
                                </div>
                                <div class="column">

                                </div>
                                <div class="column is-pulled-left mt-3">
                                    <button class="button is-success is-light mt-4">ارسال</button>
                                </div>
                            </div>
                        </form>

                    </section>
                    <footer class="modal-card-foot">
                        <div class="columns">
                            <div class="column">
                                <button class="button">Cancel</button>
                            </div>
                            
                        </div>
                    </footer>
                </div>
            </div>
        </div>

        <div class="columns">
            <div class="column is-half">
                <p id="type">
                    نوع ملک: {{customer.get_type_display}}
                </p>
            </div>
            <div class="column is-half">
                <p id="type">
                    نوع مشتری: {% if customer_type == 'buy' %}خرید{% elif customer_type == 'rent' %}اجاره{% endif %}
                </p>
            </div>
        </div>
        <div class="columns">
            {% if customer_type == 'rent'%}

            <div class="column is-half rent">

                <div class="columns">
                    <div class="column">
                        <p id="owner_name">
                            نام مشتری: {{customer.customer_name}}
                        </p>
                    </div>
                    <div class="column">
                        <p id="owner_phone">
                            شماره مشتری: {{customer.customer_phone}}
                        </p>
                    </div>
                </div>
                <div class="columns">
                    <div class="column">
                        <p id="year">
                            ودیعه: {{customer.up_budget}}
                        </p>
                    </div>
                    <div class="column">
                        <p id="year">
                            اجاره: {{customer.rent_budget}}
                        </p>
                    </div>
                    <div class="column">
                        <p id="year">
                            متراژ: {{customer.m2}}
                        </p>
                    </div>
                    <div class="column">
                        <p id="year">
                            سال: {{customer.year}}
                        </p>
                    </div>
                </div>


                <div class="columns">
                    {% if customer.elevator %}
                    <div class="column">
                        <img src="{% static 'images/elevator.svg'%}" alt="elevator" class="image is-24x24 mt-1 mr-3">
                        <p id="elevator">آسانسور دارد</p>
                    </div>
                    {% endif %}
                    {% if customer.storage %}
                    <div class="column">
                        <img src="{% static 'images/storage.svg'%}" alt="storage" class="image is-24x24 mt-1 mr-3">
                        <p id="storage">انباری دارد</p>
                    </div>
                    {% endif %}
                    {% if customer.parking %}
                    <div class="column">
                        <img src="{% static 'images/parking.svg'%}" alt="parking" class="image is-24x24 mt-1 mr-3">
                        <p id="parking">پارکینگ دارد</p>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% elif customer_type == 'buy' %}
            <div class="column is-half sell">
                <div class="columns">
                    <div class="column">
                        <p id="owner_name">
                            نام مشتری: {{customer.customer_name}}
                        </p>
                    </div>
                    <div class="column">
                        <p id="owner_phone">
                            شماره مشتری: {{customer.customer_phone}}
                        </p>
                    </div>
                </div>
                <div class="columns">
                    <div class="column">
                        <p id="year">
                            بودجه: {{customer.budget}}
                        </p>
                    </div>
                    <div class="column">
                        <p id="year">
                            متراژ: {{customer.m2}}
                        </p>
                    </div>
                    <div class="column">
                        <p id="year">
                            سال: {{customer.year}}
                        </p>
                    </div>
                </div>


                <div class="columns">
                    {% if customer.elevator %}
                    <div class="column">
                        <img src="{% static 'images/elevator.svg'%}" alt="elevator" class="image is-24x24 mt-1 mr-3">
                        <p id="elevator">آسانسور دارد</p>
                    </div>
                    {% endif %}
                    {% if customer.storage %}
                    <div class="column">
                        <img src="{% static 'images/storage.svg'%}" alt="storage" class="image is-24x24 mt-1 mr-3">
                        <p id="storage">انباری دارد</p>
                    </div>
                    {% endif %}
                    {% if customer.parking %}
                    <div class="column">
                        <img src="{% static 'images/parking.svg'%}" alt="parking" class="image is-24x24 mt-1 mr-3">
                        <p id="parking">پارکینگ دارد</p>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% endif %}

        </div>
        <div class="columns is-vcentered mt-5">
            <div class="column is-half">
                <div class="comments">
                    <label class="label">یادداشت:</label>

                    {% for comment in comments %}
                    <div class="card m-3">
                        <div class="card-title p-2"><a href="{{comment.user}}">{{comment.user}} </a></div>

                        <div class="card-content p-2">{{comment.body}}</li>
                        </div>
                        {% endfor %}
                    </div>


                    <div class="new_comment">
                        <form action="" method="post">
                            {% csrf_token %}
                            <div class="field m-3">
                                <textarea class="textarea is-small" name="body" cols="1" rows="5" maxlength="10000"
                                    required="" id="id_body" style="border-radius: 10px;"></textarea>
                            </div>
                            <button type="submit" class="button is-link is-light is-pulled-left mb-6">ثبت</button>
                        </form>
                    </div>
                </div>
            </div>
            <!-- <div class="column is-one-quarter">

            </div> -->
            <div class="actions">
                <div class="column mr-6">
                    <div class="columns">
                        <div class="column ">
                            <form action="delete/" method="post">
                                {% csrf_token %}
                                <button type="submit" class="button mt-5 is-danger">
                                    حذف
                                </button>
                            </form>
                        </div>
                        <div class="column mr-6">

                            <button class="button mr-6 mt-5 is-success" onclick="send_modal()">
                                ارسال
                            </button>

                        </div>
                        <div class="column mr-6">
                            <form action="edit/" method="get">
                                {% csrf_token %}
                                <button type="submit" class="button mt-5 is-pulled-left is-warning">
                                    ویرایش
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}