{% extends 'file/base.html' %}
{% block title %}new file form{% endblock title %}
{% load static %}

{% block content %}
<div class="box m-5">
    <form method="post">
        {% csrf_token %}
        <div class="field">
            <div class="select is-primary">
                <select name="file_type" id="id_type" onchange="rent_select(this)">
                    <option id="sell" value="buy">خرید</option>
                    <option id="rent" value="rent">اجاره</option>
                </select>
            </div>
            <div class="select is-link">
                <select class="" name="type" id="id_type">
                    <option value="A" {% if file.type == "A" %} selected {% endif%}>آپارتمان</option>
                    <option value="L" {% if file.type == "L" %} selected {% endif%}>زمین</option>
                    <option value="S" {% if file.type == "S" %} selected {% endif%}>مغازه</option>
                    <option value="H" {% if file.type == "H" %} selected {% endif%}>خانه و ویلا</option>
                </select>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <div class="field">
                    <label class="label">نام مشتری:</label>
                    <input class="input is-small" type="text" name="customer_name" maxlength="150" required=""
                        id="id_customer_name">
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="label">شماره مشتری:</label>
                    <input class="input is-small" type="text" name="customer_phone" maxlength="12" required=""
                        id="id_customer_phone">
                </div>
            </div>
        </div>
        <div class="field sell_cusotmer" id="sell_customer">
            <label class="label">بودجه:</label>
            <input type="number" name="budget" class="input" id="id_budget">
        </div>
        <div class="field rent_customer" id="rent_customer" style="display: none;">
            <label class="label">ودیعه:</label>
            <input type="number" name="budget_up" class="input" id="id_budget_up">
            <label class="label">اجاره:</label>
            <input type="number" name="budget_rent" class="input" id="id_budget_rent">
        </div>
        <div class="field">
            <label class="label">متراژ:</label>
            <input class='input is-small' type="number" name="m2" required="" id="id_m2">
        </div>
        <div class="field">
            <label class="label">سال ساخت:</label>
            <input class='input is-small' type="number" name="year" required="" id="id_year">
        </div>
        <div class="field">
            <label class="checkbox ">
                <input class='checkbox mr-3 mt-3' type="checkbox" name="elevator" id="id_elevator" >
                آسانسور
            </label>
            <label class="checkbox">
                <input class='checkbox is-small mr-6' type="checkbox" name="storage" id="id_storage" >
                انباری
            </label>
            <label class="checkbox">
                <input class='checkbox is-small mr-6' type="checkbox" name="parking" id="id_parking" >
                پارکینگ
            </label>
        </div>
        <div class="columns">
            <div class="column">
                <button class="button is-primary mt-5 ml-0 is-pulled-left is-medium ">ثبت</button>
            </div>
        </div>
    </form>
</div>

<script>
    function rent_select(evt) {
        if (evt) {
            const rentOption = document.getElementById('rent').value;
            if (rentOption == evt.value) {
                document.getElementById('sell_customer').style.display = 'none';
                document.getElementById('rent_customer').style.display = 'block';
            } else {
                document.getElementById('rent_customer').style.display = 'none';
                document.getElementById('sell_customer').style.display = 'block';
            }
        }
    }
</script>
{% endblock content %}