application-utility==1.3.2
argcomplete==2.0.0
asgiref==3.7.2
attrs==22.2.0
btrfsutil==6.3
certifi==2022.12.7
cffi==1.15.1
chardet==5.1.0
cryptography==40.0.2
cupshelpers==1.0
Django==4.2.3
django-rest-framework==0.1.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
docopt==0.6.2
flake8==6.0.0
idna==3.4
iniconfig==2.0.0
keyutils==0.6
lensfun==0.3.3
lit==15.0.7.dev0
manjaro-sdk==0.1
mccabe==0.7.0
netsnmp-python==1.0a1
nftables==0.1
npyscreen==4.10.5
packaging==23.1
pacman-mirrors==4.23.2
Pillow==9.5.0
pluggy==1.2.0
ply==3.11
pycairo==1.23.0
pycodestyle==2.10.0
pycparser==2.21
pycups==2.0.1
pycurl==7.45.2
pyflakes==3.0.1
PyGObject==3.44.1
PyJWT==2.7.0
PyQt5==5.15.9
PyQt5-sip==12.12.1
PySide6==6.5.0
pysmbc==1.0.23
pytest==7.4.0
pytz==2023.3
PyYAML==6.0
reportlab==3.6.12
requests==2.28.2
shiboken6==6.5.0
shiboken6-generator==6.5.0
sqlparse==0.4.4
systemd-python==235
tomlkit==0.11.8
udiskie==2.4.2
urllib3==1.26.15
xmltodict==0.13.0
yq==3.2.2
