{% extends 'file/base.html' %}
{% block title %}listing{% endblock title %}
{% load static %}

{% block content %}
    <script src="{% static 'javascript/get_request.js'%}"></script>
    <div class="filter">
        <div class="box m-6">
            <form action="" method="post">
                {% csrf_token%}
                <div class="select is-primary">
                    <select name="type" id="id_type">
                        <option value="A" selected="">آپارتمان</option>
                        <option value="L">زمین</option>
                        <option value="S">مغازه</option>
                        <option value="H">خانه و ویلا</option>
                    </select>
                </div>
                <div class="field">
                    <label for="id_price">قیمت:</label>
                    <input type="number" name="price" class="input is-small" required id="id_price">
                </div>
                <div class="field">
                    <label for="id_m2">متراژ:</label>
                    <input type="number" name="m2" class="input is-small" id="id_m2">
                </div>
                <div class="field">
                    <label for="id_year">سال ساخت:</label>
                    <input type="number" name="year" class="input is-small" id="id_year">
                </div>
                <div class="field">
                    <label for="id_parking">                    
                        <input type="checkbox" name="parking" class="checkbox" id="id_parking" checked="">
                        پارکینگ  </label>
                </div>
                <button type="submit" class="button is-primary is-medium is-light  is-pulled-left">Filter</button>
                <button class="button is-danger is-light is-medium mr-3" type="button" onclick='send_request()'>
                    Cancel
                </button>
            </form>

        </div>
    </div>


    <div class="files">
    {% if request.user.is_authenticated %}
        {% for file in files %}
            <a href="{{ file.get_absolute_url }}"> 
                <div class="card m-4">
                    <div class="card-header">
                        <h1 class="card-header-title">                 
                             {{ file.address}}
                        </h1>
                    </div>
                    <div class="card-content">
                        <div class="columns is-vcentered">
                            <div class="column">
                                متراژ:  {{file.m2}}
                            </div>
                            <div class="column">
                               <strong> قیمت</strong>:  {{file.price}}
                            </div>
                            <div class="column">
                                <strong>سال: </strong> {{file.year}}
                            </div>
                            <div class="column">
                                <strong> طبقه: </strong> {{file.floor}}
                            </div>
                            <div class="column is-pulled-left">
                                <ul class="is-pulled-left">
                                    {% if file.elevator %}
                                    <li>
                                        <img src="{% static 'images/elevator.svg'%}" alt="elevator" class="image is-24x24 mt-1">
                                    </li>
                                    {% endif %}
                                    {% if file.storage %}
                                    <li>
                                        <img src="{% static 'images/storage.svg'%}" alt="storage" class="image is-24x24 mt-1">
                                    </li>
                                    {% endif %}

                                    {% if file.parking %}
                                    <li>
                                        <img src="{% static 'images/parking.svg'%}" alt="parking" class="image is-24x24 mt-1">
                                    </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
        {% else %}
            <h1>
                <a href='/agents/login'> login first</a>
            </h4>
    {% endif %}


{% endblock content %}