{% extends '_base.html' %}
{% load static %}
{% block title %}
home
{% endblock title%}

{% block content %}
<div id="filter" class="flex border-2 bg-gray-50 rounded-xl mx-4 mt-20 h-auto shadow-lg">
  <form action="" method="post" class="flex flex-row flex-wrap w-full">
    {% csrf_token %}
    <select name="customer_type" id="" onchange="showRentDiv(this)"
      class="bg-gray-50 border focus:ring-blue-300 text-center focus:border-blue-300 shadow-md mx-3 my-3 w-32 h-10 rounded-lg">
      <option id="sell" value="sell">فروش</option>
      <option id="rent" value="rent">اجاره</option>
    </select>
    <select name="property_type" id=""
      class="bg-gray-50 border focus:ring-blue-300 text-center focus:border-blue-300 shadow-md mx-3 my-3 w-32 h-10 rounded-lg">
      <option value="A" selected="">آپارتمان</option>
      <option value="L">زمین</option>
      <option value="S">مغازه</option>
      <option value="H">خانه و ویلا</option>
    </select>
    <div class="flex flex-row gap-2 my-4">
      <div id="sell_file">
        <div class="relative mx-3" data-te-input-wrapper-init>
          <input type="text"
            class="peer block min-h-[auto] bg-white w-full rounded-lg border border-1 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-neutral-200 dark:placeholder:text-neutral-200 dark:peer-focus:text-primary [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0"
            id="budget" name="budget" placeholder="قیمت" />
          <label for="budget"
            class="pointer-events-none absolute right-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-neutral-200 dark:peer-focus:text-primary">قیمت
          </label>
        </div>
      </div>
      <div id="rent_file" class="flex flex-row gap-2 " style="display: none;">
        <div class="relative mx-3 mb-2" data-te-input-wrapper-init>
          <input type="text"
            class="peer block min-h-[auto] bg-white w-full rounded-lg border border-1 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-neutral-200 dark:placeholder:text-neutral-200 dark:peer-focus:text-primary [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0  "
            id="up_budget" name="up_budget" placeholder="ودیعه" />
          <label for="up_budget"
            class="pointer-events-none absolute right-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-neutral-200 dark:peer-focus:text-primary">ودیعه
          </label>
        </div>
        <div class="relative mx-3" data-te-input-wrapper-init>
          <input type="text"
            class="peer block min-h-[auto] bg-white w-full rounded-lg border border-1 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-neutral-200 dark:placeholder:text-neutral-200 dark:peer-focus:text-primary [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0"
            id="rent_budget" name="rent_budget" placeholder="اجاره" />
          <label for="rent_budget"
            class="pointer-events-none absolute right-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-neutral-200 dark:peer-focus:text-primary">اجاره
          </label>
        </div>
      </div>
      <div class="relative mx-3" data-te-input-wrapper-init>
        <input type="text"
          class="peer block min-h-[auto] bg-white w-full rounded-lg border border-1 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-neutral-200 dark:placeholder:text-neutral-200 dark:peer-focus:text-primary [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0"
          id="m2" name="m2" placeholder="متراژ" />
        <label for="m2"
          class="pointer-events-none absolute right-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-neutral-200 dark:peer-focus:text-primary">متراژ
        </label>
      </div>
      <div class="relative mx-3" data-te-input-wrapper-init>
        <input type="text"
          class="peer block min-h-[auto] bg-white w-full rounded-lg border border-1 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-neutral-200 dark:placeholder:text-neutral-200 dark:peer-focus:text-primary [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0"
          id="bedroom" name="bedroom" placeholder="اتاق خواب" />
        <label for="bedroom"
          class="pointer-events-none absolute right-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-neutral-200 dark:peer-focus:text-primary">اتاق
          خواب
        </label>
      </div>
      <div class="relative mx-3" data-te-input-wrapper-init>
        <input type="text"
          class="peer block min-h-[auto] bg-white w-full rounded-lg border border-1 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-neutral-200 dark:placeholder:text-neutral-200 dark:peer-focus:text-primary [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0"
          id="year" name="year" placeholder="سال ساخت" />
        <label for="year"
          class="pointer-events-none absolute right-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-neutral-200 dark:peer-focus:text-primary">سال
          ساخت
        </label>
      </div>
    </div>

    <div class="flex flex-row gap-4 mr-2">
      <div class=" items-center mx-3 my-3">
        <input id="default-checkbox" type="checkbox" name="parking"
          class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded  transition duration-500 ease-in-out transform border-transparent  focus:border-blueGray-500 focus:bg-white dark:focus:bg-gray-800 focus:outline-none focus:shadow-outline focus:ring-2 ring-offset-current ring-offset-2 ring-gray-400">
        <label for="default-checkbox" class="mr-2 text-sm font-medium text-gray-900 dark:text-gray-300">پارکینگ</label>
      </div>
      <div class=" items-center mx-3 my-3">
        <input id="default-checkbox" type="checkbox" name="elevetaor"
          class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded  transition duration-500 ease-in-out transform border-transparent  focus:border-blueGray-500 focus:bg-white dark:focus:bg-gray-800 focus:outline-none focus:shadow-outline focus:ring-2 ring-offset-current ring-offset-2 ring-gray-400">
        <label for="default-checkbox" class="mr-2 text-sm font-medium text-gray-900 dark:text-gray-300">آسانسور</label>
      </div>
      <div class=" items-center mx-3 my-3">
        <input id="default-checkbox" type="checkbox" name="storage"
          class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded  transition duration-500 ease-in-out transform border-transparent  focus:border-blueGray-500 focus:bg-white dark:focus:bg-gray-800 focus:outline-none focus:shadow-outline focus:ring-2 ring-offset-current ring-offset-2 ring-gray-400">
        <label for="default-checkbox" class="mr-2 text-sm font-medium text-gray-900 dark:text-gray-300">انباری</label>
      </div>
    </div>
    <input type="submit" value="فیلتر"
      class="basis-full mt-4 h-10 rounded-lg hover:bg-blue-100 bg-gray-200 border w-full bottom-0">
  </form>
</div>

{% for customer in customers %}
<a href="{{customer.get_absolute_url}}">
  <div class="block border-2 shadow-md rounded-2xl bg-gray-50 hover:bg-gray-100 hover:shadow-xl mx-4 py-1 my-4">
    <div class="flex flex-col">
      <h1 class="block basis-full w-full shadow-md py-3 px-4">{{customer.customer_name}}</h2>
        <div class="flex flex-row gap-20 py-6 px-4 shadow">
          <p>متراژ: {{customer.m2}}</p>
          {% if customer.budget %}
          <p>بودجه: {{customer.budget}}</p>
          {% else %}
          <p>ودیعه: {{customer.up_budget}}</p>
          <p>اجاره: {{customer.rent_budget}}</p>
          {% endif %}
          <p>سال ساخت: {{customer.year}}</p>
          <p>طبقه: {{customer.floor}}</p>
          <p>تعداد اتاق خواب: {{customer.bedroom}}</p>
          <p>تعداد واحد: {{customer.vahedha}}</p>
        </div>
        <div class="side flex flex-row botton-0 gap-2 pt-3 w-full h-12">
          {% if customer.parking %}
          <img src="{% static 'images/parking.svg' %}" alt="" width="40px" class="mx-auto">
          {% endif %}
          {% if customer.elevator %}
          <img src="{% static 'images/elevator.svg' %}" alt="" width="30px" class="mx-auto">
          {% endif %}
          {% if customer.storage %}
          <img src="{% static 'images/storage.svg' %}" alt="" width="30px" class="mx-auto">
          {% endif %}
          {% if customer.parking_motor %}
          <img src="{% static 'images/motor.svg' %}" alt="" width="40px" class="mx-auto">
          {% endif %}
          {% if customer.komod_divari %}
          <img src="{% static 'images/elevator.svg' %}" alt="" width="30px" class="mx-auto">
          {% endif %}
        </div>
    </div>
  </div>
</a>
{% endfor %}
<script src="{% static 'JS/rent.js' %}"></script>
{% endblock content %}