{% extends '_base.html' %}
{% load static %}
{% block title %}
New File
{% endblock title%}

{% block content %}

<div class="flex border-2 shadow-lg rounded-xl mx-4 mt-10 h-auto">
  <form action="" method="post" class="flex flex-row flex-wrap w-full">
    {% csrf_token %}
    <select name="property_type" id="property_type"
      class="bg-gray-50 border focus:ring-blue-300 text-center focus:border-blue-300 shadow-md mx-3 my-3 w-32 h-10 rounded-lg">
      <option value="A" {% if file.type == "A" %} selected {% endif %}>آپارتمان</option>
      <option value="L" {% if file.type == "L" %} selected {% endif %}>زمین</option>
      <option value="S" {% if file.type == "S" %} selected {% endif %}>مغازه</option>
      <option value="H" {% if file.type == "H" %} selected {% endif %}>خانه و ویلا</option>
    </select>
    <div class="block basis-full my-3 mx-4">
      <div class="relative">
        <input id="address" type="text" name="address" placeholder="آدرس" value="{{file.address}}" class="peer w-full px-3 rounded-lg shadow border h-12 border-gray-300  placeholder-transparent
                  focus:outline-none" />
        <label for="address" class="absolute text-gray-500 right-4 text-sm -top-3.5 px-2 bg-white-200 transition-all
                  peer-placeholder-shown:text-gray-500 peer-placeholder-shown:top-2 peer-placeholder-shown:bg-transparent
                  peer-focus:text-gray-500 peer-focus:-top-3.5 peer-focus:bg-white peer-focus:px-2">آدرس</label>
      </div>
    </div>
    <div class="grid grid-cols-5 auto-cols-max flex-row gap-4 my-3">
      {% if file.price %}
      <div id="sell_file">
        <div class="relative mx-3">
          <input type="text" value="{{file.price}}" class="peer w-full px-3 rounded-lg shadow border h-10 border-gray-300  placeholder-transparent
                  focus:outline-none" id="price" name="price" placeholder="قیمت" />
          <label for="price" class="absolute text-gray-500 right-4 text-sm -top-3.5 px-2 bg-white-200 transition-all
                  peer-placeholder-shown:text-gray-500 peer-placeholder-shown:top-2 peer-placeholder-shown:bg-transparent
                  peer-focus:text-gray-500 peer-focus:-top-3.5 peer-focus:bg-white peer-focus:px-2">
            قیمت
          </label>
        </div>
      </div>
      {% else %}
      <div id="rent_file" class="flex flex-col gap-2">
        <div class="relative mx-3 mb-2 full-basis">
          <input type="text" value="{{file.price_up}}"
            class="peer block min-h-[auto] bg-white w-full rounded-lg border-2 shadow bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-neutral-200 dark:placeholder:text-neutral-200 dark:peer-focus:text-primary [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0  "
            id="price_up" name="price_up" placeholder="ودیعه" />
          <label for="price_up" class="absolute text-gray-500 right-4 text-sm -top-3.5 px-2 bg-white-200 transition-all
                peer-placeholder-shown:text-gray-500 peer-placeholder-shown:top-2 peer-placeholder-shown:bg-transparent
                peer-focus:text-gray-500 peer-focus:-top-3.5 peer-focus:bg-white peer-focus:px-2">
            ودیعه
          </label>
        </div>
        <div class="relative mx-3 ">
          <input type="text" value="{{file.price_rent}}" class="peer w-full px-3 rounded-lg shadow border h-10 border-gray-300  placeholder-transparent
                focus:outline-none" id="price_rent" name="price_rent" placeholder="اجاره" />
          <label for="price_rent" class="absolute text-gray-500 right-4 text-sm -top-3.5 px-2 bg-white-200 transition-all
                peer-placeholder-shown:text-gray-500 peer-placeholder-shown:top-2 peer-placeholder-shown:bg-transparent
                peer-focus:text-gray-500 peer-focus:-top-3.5 peer-focus:bg-white peer-focus:px-2">
            اجاره
          </label>
        </div>
      </div>
      {% endif %}
      <div class="relative mx-3">
        <input type="text" value="{{file.m2}}" class="peer w-full px-3 rounded-lg shadow border h-10 border-gray-300  placeholder-transparent
                  focus:outline-none" id="m2" name="m2" placeholder="متراژ" />
        <label for="m2" class="absolute text-gray-500 right-4 text-sm -top-3.5 px-2 bg-white-200 transition-all
                  peer-placeholder-shown:text-gray-500 peer-placeholder-shown:top-2 peer-placeholder-shown:bg-transparent
                  peer-focus:text-gray-500 peer-focus:-top-3.5 peer-focus:bg-white peer-focus:px-2">
          متراژ
        </label>
      </div>
      <div class="relative mx-3">
        <input type="text" value="{{file.bedroom}}" class="peer w-full px-3 rounded-lg shadow border h-10 border-gray-300  placeholder-transparent
                  focus:outline-none" id="bedroom" name="bedroom" placeholder="اتاق خواب" />
        <label for="bedroom" class="absolute text-gray-500 right-4 text-sm -top-3.5 px-2 bg-white-200 transition-all
                  peer-placeholder-shown:text-gray-500 peer-placeholder-shown:top-2 peer-placeholder-shown:bg-transparent
                  peer-focus:text-gray-500 peer-focus:-top-3.5 peer-focus:bg-white peer-focus:px-2">
          اتاق خواب
        </label>
      </div>
      <div class="relative mx-3">
        <input type="text" value="{{file.year}}" class="peer w-full px-3 rounded-lg shadow border h-10 border-gray-300  placeholder-transparent
                  focus:outline-none" id="year" name="year" placeholder="سال ساخت" />
        <label for="year" class="absolute text-gray-500 right-4 text-sm -top-3.5 px-2 bg-white-200 transition-all
                  peer-placeholder-shown:text-gray-500 peer-placeholder-shown:top-2 peer-placeholder-shown:bg-transparent
                  peer-focus:text-gray-500 peer-focus:-top-3.5 peer-focus:bg-white peer-focus:px-2">
          سال ساخت
        </label>
      </div>
      <div class="relative mx-3">
        <input type="text" value="{{file.floor}}" class="peer w-full px-3 rounded-lg shadow border h-10 border-gray-300  placeholder-transparent
                  focus:outline-none" id="floor" name="floor" placeholder="طبقه" />
        <label for="floor" class="absolute text-gray-500 right-4 text-sm -top-3.5 px-2 bg-white-200 transition-all
                  peer-placeholder-shown:text-gray-500 peer-placeholder-shown:top-2 peer-placeholder-shown:bg-transparent
                  peer-focus:text-gray-500 peer-focus:-top-3.5 peer-focus:bg-white peer-focus:px-2">
          طبقه
        </label>
      </div>
      <div class="relative mx-3">
        <input type="text" value="{{file.tabaghat}}" class="peer w-full px-3 rounded-lg shadow border h-10 border-gray-300  placeholder-transparent
                  focus:outline-none" id="tabaghat" name="tabaghat" placeholder="طبقات" />
        <label for="tabaghat" class="absolute text-gray-500 right-4 text-sm -top-3.5 px-2 bg-white-200 transition-all
                  peer-placeholder-shown:text-gray-500 peer-placeholder-shown:top-2 peer-placeholder-shown:bg-transparent
                  peer-focus:text-gray-500 peer-focus:-top-3.5 peer-focus:bg-white peer-focus:px-2">
          طبقات
        </label>
      </div>
      <div class="relative mx-3">
        <input type="text" value="{{file.vahedha}}" class="peer w-full px-3 rounded-lg shadow border h-10 border-gray-300  placeholder-transparent
                  focus:outline-none" id="vahedha" name="vahedha" placeholder="واحدها" />
        <label for="vahedha" class="absolute text-gray-500 right-4 text-sm -top-3.5 px-2 bg-white-200 transition-all
                  peer-placeholder-shown:text-gray-500 peer-placeholder-shown:top-2 peer-placeholder-shown:bg-transparent
                  peer-focus:text-gray-500 peer-focus:-top-3.5 peer-focus:bg-white peer-focus:px-2">
          واحدها
        </label>
      </div>

    </div>
    <div class="flex basis-full gap-4 my-2">
      <div class="relative mx-3">
        <input type="text" value="{{file.bazdid}}" class="peer w-full px-3 rounded-lg shadow border h-10 border-gray-300  placeholder-transparent
                  focus:outline-none" id="bazdid" name="bazdid" placeholder="بازدید" />
        <label for="bazdid" class="absolute text-gray-500 right-4 text-sm -top-3.5 px-2 bg-white-200 transition-all
                  peer-placeholder-shown:text-gray-500 peer-placeholder-shown:top-2 peer-placeholder-shown:bg-transparent
                  peer-focus:text-gray-500 peer-focus:-top-3.5 peer-focus:bg-white peer-focus:px-2">
          بازدید
        </label>
      </div>
      <select name="takhlie" id="takhlie"
      class=" bg-gray-50 border focus:ring-blue-300 text-center focus:border-blue-300 shadow-md mx-3 my-3 w-32 h-10 rounded">
      <option value="0" {% if file.takhlie == "0" %} selected {% endif%}>تخلیه</option>
      <option value="1" {% if file.takhlie == "1" %} selected {% endif%}>فروردین</option>
      <option value="2" {% if file.takhlie == "2" %} selected {% endif%}>اردیبهشت</option>
      <option value="3" {% if file.takhlie == "3" %} selected {% endif%}>خرداد</option>
      <option value="4" {% if file.takhlie == "4" %} selected {% endif%}>تیر</option>
      <option value="5" {% if file.takhlie == "5" %} selected {% endif%}>مرداد</option>
      <option value="6" {% if file.takhlie == "6" %} selected {% endif%}>شهریور</option>
      <option value="7" {% if file.takhlie == "7" %} selected {% endif%}>مهر</option>
      <option value="8" {% if file.takhlie == "8" %} selected {% endif%}>آبان</option>
      <option value="9" {% if file.takhlie == "9" %} selected {% endif%}>آذر</option>
      <option value="10" {% if file.takhlie == "10" %} selected {% endif%}>دی</option>
      <option value="11" {% if file.takhlie == "11" %} selected {% endif%}>بهمن</option>
      <option value="12" {% if file.takhlie == "12" %} selected {% endif%}>اسفند</option>
    </select>
    </div>

    <div class="flex basis-full gap-4 my-4">
      <div class="relative mx-3">
        <input type="text" value="{{file.owner_phone}}" class="peer w-full px-3 rounded-lg shadow border h-10 border-gray-300  placeholder-transparent
                  focus:outline-none" id="owner_phone" name="owner_phone" placeholder="شماره مالک" />
        <label for="owner_phone" class="absolute text-gray-500 right-4 text-sm -top-3.5 px-2 bg-white-200 transition-all
                  peer-placeholder-shown:text-gray-500 peer-placeholder-shown:top-2 peer-placeholder-shown:bg-transparent
                  peer-focus:text-gray-500 peer-focus:-top-3.5 peer-focus:bg-white peer-focus:px-2">
          شماره مالک
        </label>
      </div>
      <div class="relative mx-3">
        <input type="text" value="{{file.owner_name}}" class="peer w-full px-3 rounded-lg shadow border h-10 border-gray-300  placeholder-transparent
                  focus:outline-none" id="owner_name" name="owner_name" placeholder="نام مالک" />
        <label for="bazdid" class="absolute text-gray-500 right-4 text-sm -top-3.5 px-2 bg-white-200 transition-all
                  peer-placeholder-shown:text-gray-500 peer-placeholder-shown:top-2 peer-placeholder-shown:bg-transparent
                  peer-focus:text-gray-500 peer-focus:-top-3.5 peer-focus:bg-white peer-focus:px-2">
          نام مالک
        </label>
      </div>
    </div>
    <div class="flex flex-col-2 mr-2">
      <div class=" items-center mx-3 my-3">
        <input id="parking" type="checkbox" name="parking" {% if file.parking %}checked {% endif%}
          class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded  transition duration-500 ease-in-out transform border-transparent  focus:border-blueGray-500 focus:bg-white dark:focus:bg-gray-800 focus:outline-none focus:shadow-outline focus:ring-2 ring-offset-current ring-offset-2 ring-gray-400">
        <label for="default-checkbox" class="mr-2 text-sm font-medium text-gray-900 dark:text-gray-300">پارکینگ</label>
      </div>
      <div class=" items-center mx-3 my-3">
        <input id="elevator" type="checkbox" name="elevetaor" {% if file.elevator %}checked {% endif%}
          class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded  transition duration-500 ease-in-out transform border-transparent  focus:border-blueGray-500 focus:bg-white dark:focus:bg-gray-800 focus:outline-none focus:shadow-outline focus:ring-2 ring-offset-current ring-offset-2 ring-gray-400">
        <label for="default-checkbox" class="mr-2 text-sm font-medium text-gray-900 dark:text-gray-300">آسانسور</label>
      </div>
      <div class=" items-center mx-3 my-3">
        <input id="storage" type="checkbox" name="storage" {% if file.storage %}checked {% endif%}
          class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded  transition duration-500 ease-in-out transform border-transparent  focus:border-blueGray-500 focus:bg-white dark:focus:bg-gray-800 focus:outline-none focus:shadow-outline focus:ring-2 ring-offset-current ring-offset-2 ring-gray-400">
        <label for="default-checkbox" class="mr-2 text-sm font-medium text-gray-900 dark:text-gray-300">انباری</label>
      </div>
      <div class=" items-center mx-3 my-3">
        <input id="parking_motor" type="checkbox" name="parking_motor" {% if file.parking_motor %}checked {% endif%}
          class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded  transition duration-500 ease-in-out transform border-transparent  focus:border-blueGray-500 focus:bg-white dark:focus:bg-gray-800 focus:outline-none focus:shadow-outline focus:ring-2 ring-offset-current ring-offset-2 ring-gray-400">
        <label for="default-checkbox" class="mr-2 text-sm font-medium text-gray-900 dark:text-gray-300">پارکینگ
          موتور</label>
      </div>
      <div class=" items-center mx-3 my-3">
        <input id="komod_divari" type="checkbox" name="komod_divari" {% if file.komod_divari %}checked {% endif%}
          class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded  transition duration-500 ease-in-out transform border-transparent  focus:border-blueGray-500 focus:bg-white dark:focus:bg-gray-800 focus:outline-none focus:shadow-outline focus:ring-2 ring-offset-current ring-offset-2 ring-gray-400">
        <label for="default-checkbox" class="mr-2 text-sm font-medium text-gray-900 dark:text-gray-300">کمد
          دیواری</label>
      </div>
      <div class=" items-center mx-3 my-3">
        <input id="balkon" type="checkbox" name="balkon" {% if file.balkon %}checked {% endif%}
          class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded  transition duration-500 ease-in-out transform border-transparent  focus:border-blueGray-500 focus:bg-white dark:focus:bg-gray-800 focus:outline-none focus:shadow-outline focus:ring-2 ring-offset-current ring-offset-2 ring-gray-400">
        <label for="default-checkbox" class="mr-2 text-sm font-medium text-gray-900 dark:text-gray-300">بالکن</label>
      </div>
    </div>
    <input type="submit" id="submit" value="ثبت"
      class="basis-full mt-4 h-10 rounded-lg hover:bg-blue-100 bg-gray-200 border w-full bottom-0">
  </form>
</div>

<script src="{% static 'JS/rent.js' %}"></script>
{% endblock content %}