{% extends '_base.html' %}
{% load static %}
{% block title %}
New File
{% endblock title%}

{% block content %}

<div class="flex border-2 bg-gray-50 rounded-xl mx-4 mt-10 h-auto shadow-lg">
    <form action="" method="post" class="flex flex-row flex-wrap w-full">
        {% csrf_token %}
        <select name="property_type" id=""
            class="bg-gray-50 border focus:ring-blue-300 text-center focus:border-blue-300 shadow-md mx-3 my-3 w-32 h-10 rounded-lg">
            <option value="A" {% if file.type == "A" %} selected {% endif %}>آپارتمان</option>
        <option value="L" {% if file.type == "L" %} selected {% endif %}>زمین</option>
        <option value="S" {% if file.type == "S" %} selected {% endif %}>مغازه</option>
        <option value="H" {% if file.type == "H" %} selected {% endif %}>خانه و ویلا</option>
        </select>
        <div class="block basis-full my-3 mx-4">
            <textarea id="address" name="address" rows="4"
                class="block p-6 w-full text-balck shadow-md bg-gray-100 rounded-lg border border-gray-400 transition duration-500 ease-in-out transform border-transparent focus:border-blueGray-500 focus:bg-white dark:focus:bg-gray-800 focus:outline-none focus:shadow-outline focus:ring-2 ring-offset-current ring-offset-2 ring-gray-400 "
                placeholder="آدرس">{{file.address}}</textarea>
        </div>
        <div class="grid grid-cols-5 auto-cols-max flex-row gap-4 my-3">
            <input id="price" name="price" type="number" placeholder="قیمت" value="{{file.price}}"
                class="inline bg-gray-100 basis-1/6 border border-gray-800 text-black mx-3 shadow-md placeholder-gray-400 px-4 py-2.5 mt-2 text-base   transition duration-500 ease-in-out transform border-transparent rounded-lg  focus:border-blueGray-500 focus:bg-white dark:focus:bg-gray-800 focus:outline-none focus:shadow-outline focus:ring-2 ring-offset-current ring-offset-2 ring-gray-400">
            <input name="m2" type="number" placeholder="متراژ" value="{{file.m2}}"
                class="inline bg-gray-100 basis-1/6 text-black mx-3 border-gray-400 border shadow-md placeholder-gray-400 px-4 py-2.5 mt-2 text-base   transition duration-500 ease-in-out transform border-transparent rounded-lg  focus:border-blueGray-500 focus:bg-white dark:focus:bg-gray-800 focus:outline-none focus:shadow-outline focus:ring-2 ring-offset-current ring-offset-2 ring-gray-400">
            <input name="bedroom" type="number" placeholder="اتاق خواب" value="{{file.bedroom}}"
                class="inline bg-gray-100 basis-1/6 text-black mx-3 border-gray-400 border shadow-md placeholder-gray-400 px-4 py-2.5 mt-2 text-base   transition duration-500 ease-in-out transform border-transparent rounded-lg  focus:border-blueGray-500 focus:bg-white dark:focus:bg-gray-800 focus:outline-none focus:shadow-outline focus:ring-2 ring-offset-current ring-offset-2 ring-gray-400">
            <input name="year" type="number" placeholder="سال ساخت" value="{{file.year}}"
                class="inline bg-gray-100 basis-1/6 text-black mx-3 border-gray-400 border shadow-md placeholder-gray-400 px-4 py-2.5 mt-2 text-base   transition duration-500 ease-in-out transform border-transparent rounded-lg  focus:border-blueGray-500 focus:bg-white dark:focus:bg-gray-800 focus:outline-none focus:shadow-outline focus:ring-2 ring-offset-current ring-offset-2 ring-gray-400">
            <input name="floor" type="number" placeholder="طبقه" value="{{file.floor}}"
                class="inline bg-gray-100 basis-1/6 text-black mx-3 border-gray-400 border shadow-md placeholder-gray-400 px-4 py-2.5 mt-2 text-base   transition duration-500 ease-in-out transform border-transparent rounded-lg  focus:border-blueGray-500 focus:bg-white dark:focus:bg-gray-800 focus:outline-none focus:shadow-outline focus:ring-2 ring-offset-current ring-offset-2 ring-gray-400">
            <input id="tabaghat" name="tabaghat" type="number" placeholder="طبفات" value="{{file.tabaghats}}"
                class="inline bg-gray-100 basis-1/6 border-gray-400 border text-black mx-3 shadow-md placeholder-gray-400 px-4 py-2.5 mt-2 text-base   transition duration-500 ease-in-out transform border-transparent rounded-lg  focus:border-blueGray-500 focus:bg-white dark:focus:bg-gray-800 focus:outline-none focus:shadow-outline focus:ring-2 ring-offset-current ring-offset-2 ring-gray-400">

        </div>
        <div class="flex basis-full gap-4 my-2">
            <input id="bazdid" name="bazdid" type="text" placeholder="بازدید" value="{{file.bazdid}}"
                class="inline bg-gray-100 basis-1/2 border border-gray-800 text-black mx-3 shadow-md placeholder-gray-400 px-4 py-2.5 mt-2 text-base   transition duration-500 ease-in-out transform border-transparent rounded-lg  focus:border-blueGray-500 focus:bg-white dark:focus:bg-gray-800 focus:outline-none focus:shadow-outline focus:ring-2 ring-offset-current ring-offset-2 ring-gray-400">
            <select name="takhlie" id="id_takhlie"
                class=" bg-gray-50 border focus:ring-blue-300 text-center focus:border-blue-300 shadow-md mx-3 my-3 w-32 h-10 rounded">
                <option value="0" {% if file.takhlie == "0" %} selected {% endif%}>تخلیه</option>
        <option value="1" {% if file.takhlie == "1" %} selected {% endif%}>فروردین</option>
        <option value="2" {% if file.takhlie == "2" %} selected {% endif%}>اردیبهشت</option>
        <option value="3" {% if file.takhlie == "3" %} selected {% endif%}>خرداد</option>
        <option value="4" {% if file.takhlie == "4" %} selected {% endif%}>تیر</option>
        <option value="5" {% if file.takhlie == "5" %} selected {% endif%}>مرداد</option>
        <option value="6" {% if file.takhlie == "6" %} selected {% endif%}>شهریور</option>
        <option value="7" {% if file.takhlie == "7" %} selected {% endif%}>مهر</option>
        <option value="8" {% if file.takhlie == "8" %} selected {% endif%}>آبان</option>
        <option value="9" {% if file.takhlie == "9" %} selected {% endif%}>آذر</option>
        <option value="10" {% if file.takhlie == "10" %} selected {% endif%}>دی</option>
        <option value="11" {% if file.takhlie == "11" %} selected {% endif%}>بهمن</option>
        <option value="12" {% if file.takhlie == "12" %} selected {% endif%}>اسفند</option>
            </select>
        </div>

        <div class="flex basis-full gap-4 my-4">
            <input id="owner_phone" name="owner_phone" type="text" placeholder="شماره مالک" value="{{file.owner_phone}}"
                class="inline bg-gray-100 basis-1/2 border border-gray-800 text-black mx-3 shadow-md placeholder-gray-400 px-4 py-2.5 mt-2 text-base   transition duration-500 ease-in-out transform border-transparent rounded-lg  focus:border-blueGray-500 focus:bg-white dark:focus:bg-gray-800 focus:outline-none focus:shadow-outline focus:ring-2 ring-offset-current ring-offset-2 ring-gray-400">
            <input id="owner_name" name="owner_name" type="text" placeholder="نام مالک" value="{{file.owner_name}}"
                class="inline bg-gray-100 basis-1/2 border border-gray-800 text-black mx-3 shadow-md placeholder-gray-400 px-4 py-2.5 mt-2 text-base   transition duration-500 ease-in-out transform border-transparent rounded-lg  focus:border-blueGray-500 focus:bg-white dark:focus:bg-gray-800 focus:outline-none focus:shadow-outline focus:ring-2 ring-offset-current ring-offset-2 ring-gray-400">
        </div>
        <div class="flex flex-col-2 mr-2">
            <div class=" items-center mx-3 my-3">
                <input id="default-checkbox" type="checkbox" name="parking" {% if file.parking %}checked {% endif%}
                    class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded  transition duration-500 ease-in-out transform border-transparent  focus:border-blueGray-500 focus:bg-white dark:focus:bg-gray-800 focus:outline-none focus:shadow-outline focus:ring-2 ring-offset-current ring-offset-2 ring-gray-400">
                <label for="default-checkbox"
                    class="mr-2 text-sm font-medium text-gray-900 dark:text-gray-300">پارکینگ</label>
            </div>
            <div class=" items-center mx-3 my-3">
                <input id="default-checkbox" type="checkbox" name="elevetaor" {% if file.elevator %}checked {% endif%}
                    class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded  transition duration-500 ease-in-out transform border-transparent  focus:border-blueGray-500 focus:bg-white dark:focus:bg-gray-800 focus:outline-none focus:shadow-outline focus:ring-2 ring-offset-current ring-offset-2 ring-gray-400">
                <label for="default-checkbox"
                    class="mr-2 text-sm font-medium text-gray-900 dark:text-gray-300">آسانسور</label>
            </div>
            <div class=" items-center mx-3 my-3">
                <input id="default-checkbox" type="checkbox" name="storage" {% if file.storage %}checked {% endif%}
                    class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded  transition duration-500 ease-in-out transform border-transparent  focus:border-blueGray-500 focus:bg-white dark:focus:bg-gray-800 focus:outline-none focus:shadow-outline focus:ring-2 ring-offset-current ring-offset-2 ring-gray-400">
                <label for="default-checkbox"
                    class="mr-2 text-sm font-medium text-gray-900 dark:text-gray-300">انباری</label>
            </div>
            <div class=" items-center mx-3 my-3">
                <input id="default-checkbox" type="checkbox" name="parking_motor" {% if file.parking_motor %}checked {% endif%}
                    class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded  transition duration-500 ease-in-out transform border-transparent  focus:border-blueGray-500 focus:bg-white dark:focus:bg-gray-800 focus:outline-none focus:shadow-outline focus:ring-2 ring-offset-current ring-offset-2 ring-gray-400">
                <label for="default-checkbox" class="mr-2 text-sm font-medium text-gray-900 dark:text-gray-300">پارکینگ
                    موتور</label>
            </div>
            <div class=" items-center mx-3 my-3">
                <input id="default-checkbox" type="checkbox" name="komod_divari" {% if file.komod_divari %}checked {% endif%}
                    class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded  transition duration-500 ease-in-out transform border-transparent  focus:border-blueGray-500 focus:bg-white dark:focus:bg-gray-800 focus:outline-none focus:shadow-outline focus:ring-2 ring-offset-current ring-offset-2 ring-gray-400">
                <label for="default-checkbox" class="mr-2 text-sm font-medium text-gray-900 dark:text-gray-300">کمد
                    دیواری</label>
            </div>
            <div class=" items-center mx-3 my-3">
                <input id="default-checkbox" type="checkbox" name="balkon" {% if file.balkon %}checked {% endif%}
                    class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded  transition duration-500 ease-in-out transform border-transparent  focus:border-blueGray-500 focus:bg-white dark:focus:bg-gray-800 focus:outline-none focus:shadow-outline focus:ring-2 ring-offset-current ring-offset-2 ring-gray-400">
                <label for="default-checkbox"
                    class="mr-2 text-sm font-medium text-gray-900 dark:text-gray-300">بالکن</label>
            </div>
        </div>
        <input type="submit" value="ثبت"
            class="basis-full mt-4 h-10 rounded-lg hover:bg-blue-100 bg-gray-200 border w-full bottom-0">
    </form>
</div>

{% endblock content %}ali4mini