{% extends 'file/base.html' %}
{% block title %}new file form{% endblock title %}
{% block content %}
    <style>
        input{
            width: 100%;
        }
    </style>
    {% if request.user.is_authenticated %}
        <h1 class="section">profile section</h1>

        <form method='post'>
            {% csrf_token %}
            {{profile_form}}
            <input type='submit' value='submit profile'>
        </form>
    {% else %}
    {% if login_form.errors %}
        <p>
        Your username and password didn't match.
        Please try again.
        </p>
    {% else %}
        <p>Please, use the following form to login</p>
    {% endif %}
        <form method='post'>
            {% csrf_token %}
            {{login_form}}
            <input type='submit' value='submit '>
        </form>
    {% endif %}

{% endblock content %}

