
.slick-slide {
 height: 500px; /* Adjust the height as needed */
 width: 500px; /* Adjust the width as needed */
}
.image-slider {
 width: 80%;
 margin: auto;
 text-align: center;
 object-fit: contain;
}
.slide-image {
  max-height: 600px;
  width: auto;
}
.image-slider .slick-dots {
 bottom: -30px;
}


