{% extends 'file/base.html' %}
{% load static %}

{% block title %}new rent file{% endblock title %}

{% block content %}
    <link rel='stylesheet' href="{% static 'css/new_rent_file.css' %}">

    <div class='target'>
        <form method='post'>
            {% csrf_token %}
            <div class='fields'>
                <th><label for="id_owner_name">مالک:</label></th>
                <td>
                
                <input type="text" name="owner_name" maxlength="100" required id="id_owner_name">
                
                
                </td>
            </tr>

            <tr>
                <th><label for="id_owner_phone">شماره مالک:</label></th>
                <td>
                
                <input type="text" name="owner_phone" maxlength="11" required id="id_owner_phone">
                
                
                </td>
            </tr>

            <tr>
                <th><label for="id_address">آدرس:</label></th>
                <td>
                
                <textarea name="address" cols="40" rows="10" required id="id_address">
            </textarea>
                
                
                </td>
            </tr>

            <tr>
                <th><label for="id_m2">متراژ:</label></th>
                <td>
                
                <input type="number" name="m2" required id="id_m2">
                
                
                </td>
            </tr>

            <tr>
                <th><label for="id_price_up">ودیعه:</label></th>
                <td>
                
                <input type="number" name="price_up" required id="id_price_up">
                
                
                </td>
            </tr>

            <tr>
                <th><label for="id_price_rent">اجاره:</label></th>
                <td>
                
                <input type="number" name="price_rent" required id="id_price_rent">
                
                
                </td>
            </tr>

            <tr>
                <th><label for="id_year">سال ساخت:</label></th>
                <td>
                
                <input type="number" name="year" required id="id_year">
                
                
                </td>
            </tr>

            <tr>
                <th><label for="id_floor">طبقه:</label></th>
                <td>
                
                <input type="number" name="floor" required id="id_floor">
                
                
                </td>
            </tr>

            <tr>
                <th><label for="id_elevator">آسانسور:</label></th>
                <td>
                
                <input type="checkbox" name="elevator" id="id_elevator" checked>
                
                
                </td>
            </tr>

            <tr>
                <th><label for="id_storage">انباری:</label></th>
                <td>
                
                <input type="checkbox" name="storage" id="id_storage" checked>
                
                
                </td>
            </tr>

            <tr>
                <th><label for="id_parking">پارکینگ:</label></th>
                <td>
                
                <input type="checkbox" name="parking" id="id_parking">
                
                
                </td>
            </tr>

            <tr>
                <th><label for="id_type">نوع:</label></th>
                <td>
                
                <select name="type" id="id_type">
            <option value="A" selected>آپارتمان</option>

            <option value="L">زمین</option>

            <option value="S">مغازه</option>

            </select>
                
                
                </td>
            </tr>

            <tr>
                <th><label for="id_tags">برچسب ها:</label></th>
                <td>
                
                <input type="text" name="tags" id="id_tags">
                
                    <br>            
                
                    
                
                </td>
            </tr>
            <input type='submit' value='submit'>
        </div>    

                </form>
            </div>


{% endblock content %}