{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="utf-8">
    <title>{% block title %} {% endblock %}</title>
    <link href="{% static "css/base.css" %}" rel="stylesheet">

  </head>
  <body>
    <div class="nav">
      <ul>
        <li><a href="/">پنل</a></li>
        <li><a href="{% url 'file:new_sell_file' %}">فایل</a></li>
        <li><a href="{% url 'customer:new_buy_customer' %}">مشتری</a></li>
        <li><a href="{% url 'agents:login' %}">ورود</a></li>
      </ul>
    </div>
    {% if messages %}
      <ul class="messages">
          {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
              {{ message|safe }}
              <a href="#" class="close">x</a>
            </li>
          {% endfor %}
      </ul>
    </div>
    {% endif %}

    {% block content %}

    {% endblock %}

  </body>
</html>