{% extends 'file/base.html' %}
{% block title %} New File {% endblock title %}
{% load static%}

{% block content %}
<div class="box m-5 p-5">
  <form action="" method="post">
    {% csrf_token%}
    <div class="select mt-3 mb-3">
      <select name="type" id="id_type">
        <option value="A" selected="">آپارتمان</option>
        <option value="L">زمین</option>
        <option value="S">مغازه</option>
        <option value="H">خانه و ویلا</option>
      </select>
    </div>
    <div class="field">
      <label class="label">مالک:</label>
        <input class='input is-small' type="text" name="owner_name" maxlength="1000" required="" id="id_owner_name">
      <label class="label mt-2">شماره مالک:</label>
        <input class='input is-small' type="text" name="owner_phone" maxlength="12" required="" id="id_owner_phone">
    </div>
    <div class="field">
      <label class="label">آدرس:</label>
        <textarea name="address" cols="10" rows="4" class="textarea is-small" required="" id="id_address"></textarea>
    </div>
    <div class="field">
      <label class="label">متراژ:</label>
        <input class='input is-small' type="number" name="m2" required="" id="id_m2">
    </div>
    <div class="field">
      <label class="label">قیمت:</label>
        <input class='input is-small' type="number" name="price" required="" id="id_price">
    </div>
    <div class="field">
      <label class="label">سال ساخت:</label>
        <input class='input is-small' type="number" name="year" required="" id="id_year">
    </div>
    <div class="field">
      <label class="label">طبقه:</label>
        <input class='input is-small' type="number" name="floor" required="" id="id_floor">
    </div>
    <div class="field">
      <label class="checkbox">
        <input class='checkbox is-small mr-0' type="checkbox" name="elevator" id="id_elevator" checked="">
        آسانسور
      </label>
      <label class="checkbox">
        <input class='checkbox is-small mr-6' type="checkbox" name="storage" id="id_storage" checked="">
        انباری
      </label>
      <label class="checkbox">
        <input class='checkbox is-small mr-6' type="checkbox" name="parking" id="id_parking" checked="">
        پارکینگ
      </label>
    </div>

      <div class="file mt-3 mb-3">
        <label class="file-label">
          <input class="file-input" type="file" name="resume">
          <span class="file-cta">
            <span class="file-label">
              عکس ها
            </span>
          </span>
        </label>
      </div>
    <div class="field">
    <label class="label">برچسب ها:</label>
      <input class='input is-small' type="text" name="tag_manager" id="id_tag" class="input class='input is-small' is-small"> 
        <p class="help">یک لیست از برچسب های جدا شده توسط کاما </p>
    </div>
    <div class="columns">
      <div class="column">
        <button type="submit" class="button is-medium is-primary mt-4 is-pulled-left">ثبت</button>
      </div>
    </div>
  </form>
</div>
{% endblock content%}